<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.scout.service.services">
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipse.scout.rt.server.services.common.bookmark.FileSystemBookmarkStorageService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipse.scout.rt.server.services.common.workflow.WorkflowProviderService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.services.common.security.AccessControlService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.services.DesktopService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.services.common.sql.DevelopmentSqlService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.alpha.AnnouncementService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.alpha.IDCDepartmentService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.delta.DepartmentLookupService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.alpha.EmployeeService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.alpha.IssuingCompanyService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.delta.IssuingCompanyLookupService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.alpha.SpecificationService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.alpha.MaterialTypeService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.delta.MaterialTypeLookupService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.delta.MaterialGradeService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.delta.FinishTypeService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.alpha.ProcessService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.delta.ProcessTypeLookupService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.alpha.CompanyService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.alpha.ContactService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.delta.CompanyLookupService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.delta.DivisionFromCompanyLookupService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.alpha.DivisionService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.alpha.AddressService"
            session="org.asd.kyros.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.asd.kyros.server.alpha.PartService"
            session="org.asd.kyros.server.ServerSession">
      </service>
   </extension>
   <extension
         name=""
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/process"
            class="org.eclipse.scout.rt.server.ServiceTunnelServlet">
         <init-param
               name="min-version"
               value="0.0.0">
         </init-param>
      </servlet>
      <servlet
            alias="/remotefiles"
            class="org.eclipse.scout.rt.server.RemoteFileServlet">
      </servlet>
      <servlet
            alias="/updatesite"
            class="org.eclipse.scout.rt.server.RemoteFileServlet">
         <init-param
               name="folder"
               value="/updatesite">
         </init-param>
      </servlet>
      <servlet
            alias="/"
            class="org.eclipse.scout.rt.server.ResourceServlet">
         <init-param
               name="bundle-name"
               value="org.asd.kyros.server">
         </init-param>
         <init-param
               name="bundle-path"
               value="/resources/html">
         </init-param>
      </servlet>
      <servlet
            alias="/ajax"
            class="org.eclipse.scout.rt.server.ServiceTunnelServlet">
      </servlet>
   </extension>
   <extension
         name=""
         point="org.eclipse.scout.rt.server.commons.filters">
      <filter
            aliases="/process /remotefiles /updatesite"
            class="org.eclipse.scout.rt.server.commons.servletfilter.security.BasicSecurityFilter"
            ranking="20">
      </filter>
      <filter
            aliases="/process /remotefiles /updatesite"
            class="org.eclipse.scout.rt.server.commons.servletfilter.security.AnonymousSecurityFilter"
            ranking="30">
      </filter>
   </extension>
   <extension
         id="app"
         name="Server Application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.asd.kyros.server.ServerApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         name=""
         point="org.eclipse.core.runtime.products">
      <product
            name="Kyros Server"
            application="org.asd.kyros.server.app">
         <property
               name="appName"
               value="Kyros Server">
         </property>
      </product>
   </extension>

</plugin>
